@model IEnumerable<FrameworkDAL.Trade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TICKR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryPattern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TICKR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EntryPattern)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EntryPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExitPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EntryDateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExitDateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    <td>
        <div class="hover_img">
            <a href="@item.ImageLink">Image</a>
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Result)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TradeId }) |
        @Html.ActionLink("Details", "Details", new { id = item.TradeId }) 
    </td>
</tr>
}

</table>
